<%- include('../partials/header', {titulo: 'error'}); %>
    <div class="d-flex justify-content-center mt-4  ">
        <div class="container alert alert-danger">
            <p>No has seleccionado un archivo</p>
        </div>
    </div>

<%- include('../partials/footer'); %>