<%- include('../partials/header', {titulo: 'Error'}); %>

<div class="column is-6 is-offset-4 p-4">
    <h2 class="title is-4 animate__animated animate__bounceIn">Temporalmente en mantenimiento</h2>
</div>


<%- include('../partials/footer'); %>
