    <script src="https://kit.fontawesome.com/fcf81a7615.js" crossorigin="anonymous"></script>
    <script src="/js/ejs.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/dataTables.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/printThis.js"></script>
    <script src="/js/scripts.js"></script>
    <script>
        moment.locale('es-es');               
    </script>
    <div class="column is-4 is-offset-5">
      <p class="text-white">
        <strong>@iyamilmartinez</strong> 
      </p>
    </div>
  </body>