    <script src="/js/functions/todo-list.js"></script>
    <script src="/js/imports/ejs.js"></script>
    <script src="/js/imports/bootstrap.min.js"></script>
    <script src="/js/imports/dataTables.min.js"></script>
    <script src="/js/imports/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        moment.locale('es-es');
    </script>
    <script src="/js/imports/printThis.js"></script>
    <div class="d-flex justify-content-center">
      <p class="text-white">
        <strong>@iyamilmartinez</strong> 
      </p>
    </div>
  </body>