<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= titulo %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>    
    <link rel="stylesheet" href="/css/dataTables.min.css">
    <link rel="stylesheet" href="/css/animate.min.css"/>
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <script src="/js/jquery.min.js"></script>
  </head>
  <body>
   