<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fontawesome.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/dataTables.min.css">
    <link rel="stylesheet" href="/css/animate.min.css"/>
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <script src="/js/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Art. Yam</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upload">Subir CSV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/liquidar">Liquidar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"> <i class="fa fa-user"></i> Log in</a>
          </li>
        </ul>
      </div>  
    </nav>