<%- include('partials/header', {titulo: 'Imagenes'}); %>
<%- include('partials/navbar'); %>

<div class="column is-6 is-offset-4 p-4">
    <h2 class="title is-2 animate__animated animate__bounceIn">Seguimiento de articulos</h2>
</div>
<div class="column is-10 is-offset-1">
    <div class="card p-4">
    </div>
</div>  

<%- include('partials/footer'); %>
