<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Art. Yam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="rAdmin">
          <a class="nav-link" href="/upload">Subir CSV</a>
        </li>
        <li class="nav-item" id="rClient">
          <a class="nav-link" href="/liquidar">Liquidar</a>
        </li>
        <li class="nav-item" id="rLogin">
          <a class="nav-link" href="/login"> <i class="fa fa-user"></i> Log in</a>
        </li>
        <li class="nav-item" id="rLogout">
            <a class="nav-link" href="/login"> <i class="fa fa-user"></i> Log in</a>
          </li>
      </ul>
    </div>  
</nav>
<!-- Hoja de estilo -->
<style>
    #rAdmin, #rClient, #rLogout {
        display: none;
    }
</style>
<!-- Funciones especiales -->
<script>
$(document).ready(function() {

  const rAdmin = $('rAdmin')
  const rClient = $('rClient')
  const rLogin = $('rLogin')
  const rLogout = $('rLogout')

  if(localStorage.getItem('user')) {
    const username = localStorage.getItem('user');
    const role = localStorage.getItem('role');

    if( role == 'admin') {
      rAdmin.show();
    }

  }

});
</script>