<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="./images/up-art.png" width="40" height="60">
      <p class="subtitle is-4">
        Up Art
      </p>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% if( userData && userData.role == 'admin') {%>
        <a class="navbar-item" href="/upload">Subir CSV</a>        
        <a class="navbar-item" href="/liquidar">Liquidar</a>
    <% } %>

    <% if( userData && userData.role == 'client') {%>
      <a class="navbar-item" href="/liquidar">Liquidar</a>        
    <% } %>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if(userData.logged) {%>
            <a class="navbar-item"> <i class="fa fa-user"></i><%= userData.user %></a>                        
            <a class="button is-light" href="/logout"> </i> Salir</a>
        <% } else {%>            
            <a class="button is-primary" href="/login"> <i class="fa fa-user"></i> <strong>Ingresar</strong></a>
        <% } %>

        </div>
      </div>
    </div>
  </div>
</nav>