<%- include('partials/header', {titulo: 'Log in'}); %>
<%- include('partials/navbar'); %>

<div class="column is-4 is-offset-4">
    <h2 class="title is-2 text-center">Area de usuarios</h2>
</div>

<div class="mt-4">
    <div class="column is-4 is-offset-4">
        <div class="card p-4">
            <div class="column is-2 is-offset-5" style="padding-left: 0px;">
                <i class="fa fa-user fa-5x"></i>
                
            </div>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" id="user" placeholder="Usuario">                
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" id="contras" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-success" id="ingresar">
                    Ingresar
                  </button>
                </p>
              </div>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>
<%- include('partials/footer'); %>
