<%- include('partials/header', {titulo: 'Proveedores'}); %>
<%- include('partials/navbar', {userData}); %>

    <div class="d-flex justify-content-center mt-4  ">
      <h2 class="display-4 text-white">Proveedores</h2>
    </div>
    <div class="row p-4">

      <div class="offset-md-4 col-md-4 col-12">
        <table id="proveedores-tabla">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cant. Art.</th>
              <th>Art. actualizados</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <th>                          
            </th>
             <% for(var i = 0; i < proveedores.length; i++ ) %>
                <tr>
                    <th> <%= proveedores[i].nombre %> </th>                  
                </tr>            
              <% %>   
                      
          </tbody>
        </table>
      </div>
      
    </div>

<%- include('partials/footer'); %>
