<%- include('partials/header', {titulo: 'Subir'}); %>
    <div class="d-flex justify-content-center mt-4  ">
      <h2 class="display-4 text-white">Cargar archivo .CSV</h2>
    </div>
    <div class="row p-4">
      <div class="offset-4 col-4">
        <form id="forma" action='http://localhost:3000/upload' method="POST" enctype="multipart/form-data">
            <input id="file" type="file" class="form-control-file" id="fileControl" name="file">            
            <input id="subir" type="submit" value="Subir" class="mt-2 btn btn-success">
        </form>
      </div>
      
    </div>

<%- include('partials/footer'); %>
